<div class="display-6 bg-colord-inline p-2  bg-primary text-white">Lista de clientes!</div>

<!--Um form-group p cada dado, menos o ID q eh feito automatico-->
<form [formGroup]="formGroup">
  <small class="form-text text-muted">Seus dados nao serao compartilhados!</small>

  <div class="mb-3">
    <label for="nome"></label>
    <input name="nome" formControlName="nome" type="text" class="form-control" id="nome"  >
  </div>
  <div class="mb-3">
    <label for="cpfCnpj"></label>
    <input name="cpfCnpj" formControlName="cpfCnpj"type="number" class="form-control" id="cpfCnpj">
  </div>
  <div class="form-group">
    <label for="cep"></label>
    <input name="cep" type="number" formControlName="cep"class="form-control" id="cep" >
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input">
    <label name="pagaCerto" formControlName="pagaCerto"class="form-check-label" for="pagaCerto">Check me out</label>
  </div>
  <button type="submit"(click)="save()" class="btn btn-primary">Salvar</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>CNPJ/CPF</th>
            <th>NOME</th>
            <th>CEP</th>
            <th>PAGACERTO?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clientes">
            <th scope="row">{{c.id}}</th>
            <td>{{c.cpfCnpj}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.cep}}</td>
            <td>{{c.pagaCerto}}</td>
            <td><button class="btn btn-dange" (click)="delete(c)">Remover</button></td>
        </tr>
    </tbody>
</table>