<div class="display-6 bg-colord-inline p-2  bg-primary text-white">Lista de clientes!</div>

<!--Um form-group p cada dado, menos o ID q eh feito automatico-->
<form [formGroup]="formGroup">
  <small class="form-text text-muted">Seus dados nao serao compartilhados!</small>

  <div class="mb-3">
    <label for="nome">Nome</label>
    <input name="nome" formControlName="nome" type="text" class="form-control" id="nome"  >
     <small *ngIf="submitted &&  nome.hasError('required')" class="text-danger">
       *O nome é requirido!
    </small>
    <small *ngIf="submitted && nome.errors?.['minlength']" class="text-danger">
       *O nome tem que ter no mínimo 3 caracteres!
    </small>
  </div>
  <div class="mb-3">
    <label for="cpfCnpj">CPF ou CNPJ</label>
    <input name="cpfCnpj" formControlName="cpfCnpj"type="number" class="form-control" id="cpfCnpj">
       <small *ngIf="submitted &&  cpfCnpj.hasError('required')" class="text-danger">
       *O CPF ou o CNPJ é requirido!
    </small>
    <small *ngIf="submitted && cpfCnpj.hasError('min')" class="text-danger">
       *O CPF deve ter 11 caracteres e o CNPJ 14!
    </small>
    <small *ngIf="submitted && cpfCnpj.hasError('maxlength')" class="text-danger">
       *O CNPJ deve ter no maximo 14 caracteres!
    </small>
  </div>
  <div class="mb-3">
    <label for="cep">CEP</label>
    <input name="cep" type="number" formControlName="cep"class="form-control" id="cep" >
       <small *ngIf="submitted && cep.hasError('required')" class="text-danger">
       *O CEP e necessario!
    </small>
    <small *ngIf="submitted && cep.hasError('min')" class="text-danger">
       *O CEP deve ter 8 caracteres!
    </small>
  </div>
  <div class="mb-3">
    <label for="pagaCerto">O cliente paga certo?</label>
    <input name="pagaCerto" type="text" formControlName="pagaCerto"class="form-control" id="pagaCerto" >
    <small *ngIf="submitted &&  pagaCerto.hasError('required')" class="text-danger">
       *Campo requirido!
    </small>
    <small *ngIf="submitted && pagaCerto.hasError('minlength')" class="text-danger">
       *A resposta deve ser sim ou nao!
    </small>
  </div>
  <button type="submit"(click)="save()" class="btn btn-primary me-2">Salvar</button>
  <button class="btn btn-primary" (click)="cancel()" >Cancelar</button>

</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col-1">ID</th>
            <th scope="col-2">CNPJ/CPF</th>
            <th scope="col-2">NOME</th>
            <th scope="col-2">CEP</th>
            <th scope="col-2">PAGACERTO?</th>
            <th scope="col-2" class="text-center">Opcoes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clientes">
            <th scope="row" class="col-1">{{c.id}}</th>
            <td class="col-2">{{c.cpfCnpj}}</td>
            <td class="col-2">{{c.nome}}</td>
            <td class="col-2">{{c.cep}}</td>
            <td class="col-2">{{c.pagaCerto}}</td>
            <td class="col-2">
            <button class="btn btn-danger me-2" (click)="delete(c)">Remover</button>
            <button class="btn btn-success" (click)="edit(c)">Editar</button>
            </td>
        </tr>
    </tbody>
</table>